<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>475689214917-7h5ajk3vbru82cdggnbhg88t6k632d07.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.475689214917-7h5ajk3vbru82cdggnbhg88t6k632d07</string>
	<key>API_KEY</key>
	<string>AIzaSyDEg1oQwL199pwpqC3XGgSRI7ZdKlguFVs</string>
	<key>GCM_SENDER_ID</key>
	<string>475689214917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoList</string>
	<key>PROJECT_ID</key>
	<string>todo-list-app-34a3e</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-list-app-34a3e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:475689214917:ios:b2addd4240cc819f4261ac</string>
</dict>
</plist>